* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Oswald", sans-serif;
}
header {
  margin-top: 1rem;
}

.logo {
  width: 100%;
}

.logo img {
  width: 50%;
  max-width: 960px;
  margin: 0 auto;
}

.menu {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
}

.menu ul {
  display: flex;
}

.menu ul li {
  margin-right: 2rem;
  align-items: flex-end;
  list-style: none;
}

.main-container {
  width: 80%;
  border: 1px solid white;
  margin: 4rem auto;
  text-align: center;
  padding:2rem;
}

.main-container h2{
    padding:2rem;
}

footer{
    margin-top: 2rem;
    display:flex;
  }
  
  footer .name{
    flex:2;
    align-self: flex-start;
    text-align: left;
    margin:1rem;
  }
  
  footer .subject{
    flex:1;
    align-self: flex-end;
    text-align: right;
    margin:1rem;
  }
